/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Raleway|Ubuntu+Condensed");
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Raleway|Ubuntu+Condensed");
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Raleway|Ubuntu+Condensed");
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Raleway|Ubuntu+Condensed");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.search {
  display: none;
  background: #009688;
  width: 100%; }
  .search input {
    width: 100%;
    text-align: center; }
  .search input[type="submit"] {
    background: #009688;
    border: #009688;
    font-family: "Raleway", sans-serif;
    font-size: 1.5em; }

.search-icon {
  cursor: pointer;
  width: 5%;
  height: 5%; }

nav {
  width: 100%;
  height: auto;
  background: #009688;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column; }
  nav .logo {
    text-align: center;
    font-family: "Raleway", sans-serif; }
    nav .logo h1 a {
      text-decoration: none;
      color: #004D40; }
  nav .wrapper_nav ul {
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 1.5em;
    width: 100%;
    display: flex;
    padding: 0;
    list-style-type: none; }
    nav .wrapper_nav ul li {
      text-align: center;
      margin: 0 15px;
      color: #004D40; }
      nav .wrapper_nav ul li a {
        text-decoration: #004D40;
        color: #004D40; }

.under_nav {
  width: 100%;
  background: #009688;
  position: absolute;
  top: 20%;
  left: 0;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 1em;
  list-style-type: none;
  display: none;
  flex-flow: column;
  justify-content: center;
  padding: 0; }
  .under_nav li {
    padding: 10px;
    text-align: center; }
    .under_nav li a {
      text-decoration: none;
      color: #004D40; }

li.blog {
  margin: 0; }

.menu {
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 1.5em;
  width: 100%;
  display: flex;
  padding: 0;
  list-style-type: none; }
  .menu li {
    text-align: center;
    margin: 0 15px;
    color: #004D40; }
    .menu li a {
      text-decoration: none;
      color: #004D40; }

.large-wp-menu {
  display: block; }
  @media (min-width: 500px) and (max-width: 767px) {
    .large-wp-menu {
      display: none; } }
  @media (max-width: 499px) {
    .large-wp-menu {
      display: none; } }

.humb-visibility {
  z-index: 100;
  width: 50px;
  height: 40px;
  background: #009688;
  position: fixed;
  top: 1%;
  left: 0;
  display: none; }
  @media (min-width: 500px) and (max-width: 767px) {
    .humb-visibility {
      display: block; } }
  @media (max-width: 499px) {
    .humb-visibility {
      display: block; } }

.small-wp-menu {
  z-index: 99;
  position: fixed;
  overflow: hidden;
  top: 0%;
  left: 0%;
  display: none;
  width: 100%;
  height: 100%;
  background: #009688; }
  @media (min-width: 1024px) {
    .small-wp-menu {
      display: none !important; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .small-wp-menu {
      display: none !important; } }
  .small-wp-menu .menu-main-menu-container {
    height: 100%; }
  .small-wp-menu .menu {
    z-index: 100;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .small-wp-menu .menu li {
      margin: 0; }
    .small-wp-menu .menu .menu-item {
      margin: 30px; }
      .small-wp-menu .menu .menu-item ul {
        padding: 0; }
      .small-wp-menu .menu .menu-item a {
        font-size: 5vw; }
        @media (max-width: 499px) {
          .small-wp-menu .menu .menu-item a {
            font-size: 7vw; } }

.menu-humb {
  cursor: pointer;
  padding-left: 1.25em;
  position: relative;
  width: 20px;
  height: 20px;
  float: left; }

.menu-global {
  backface-visibility: hidden;
  position: absolute;
  left: 2px;
  border-top: 4px solid #E0F2F1;
  width: 45px;
  transition: 0.55s; }

.menu-top {
  top: 4px; }

.menu-middle {
  top: 16px; }

.menu-bottom {
  top: 28px; }

.menu-top-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(50deg);
  transition: 0.55s 0.5s; }

.menu-middle-click {
  opacity: 0; }

.menu-bottom-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(-410deg);
  transition: 0.55s 0.5s; }

.bg {
  position: absolute;
  top: 0;
  left: 0;
  background: #009688;
  width: 100%;
  height: 500px; }

.bg_left {
  background: #009688;
  height: 500px;
  width: 15%;
  float: left; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .bg_left {
      width: 0; } }
  @media (min-width: 500px) and (max-width: 767px) {
    .bg_left {
      width: 0; } }
  @media (max-width: 499px) {
    .bg_left {
      width: 0; } }

main {
  height: 100%; }

.content {
  justify-content: flex-start;
  flex-wrap: wrap;
  display: flex;
  width: 70%;
  background: #fff;
  height: auto;
  float: left; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .content {
      width: 100%; } }
  @media (min-width: 500px) and (max-width: 767px) {
    .content {
      width: 100%; } }
  @media (max-width: 499px) {
    .content {
      width: 100%; } }

.bg-right {
  background: #009688;
  height: 500px;
  width: 15%;
  float: right; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .bg-right {
      width: 0; } }
  @media (min-width: 500px) and (max-width: 767px) {
    .bg-right {
      width: 0; } }
  @media (max-width: 499px) {
    .bg-right {
      width: 0; } }

.card {
  height: auto;
  margin: 15px 0; }
  @media (min-width: 1024px) {
    .card {
      flex: 0 1 calc(33% - 1em);
      width: 33%; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .card {
      flex: 0 1 calc(33% - 1em);
      width: 33%; } }
  @media (min-width: 500px) and (max-width: 767px) {
    .card {
      flex: 0 1 calc(50% - 1em);
      width: 50%; } }
  @media (max-width: 499px) {
    .card {
      flex: 0 1 calc(100% - 1em);
      width: 100%; } }
  .card a {
    text-decoration: none;
    color: #545a66; }
  .card h2 {
    padding: 5px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 1.3em; }
    @media (min-width: 1024px) {
      .card h2 {
        font-size: 1.4vw;
        width: 100%;
        height: 100px; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .card h2 {
        font-size: 2vw;
        width: 100%;
        height: 70px; } }
    @media (min-width: 500px) and (max-width: 767px) {
      .card h2 {
        font-size: 3vw;
        width: 100%;
        height: 50px; } }
  .card .thumbnail {
    display: flex;
    justify-content: center; }
    .card .thumbnail img {
      width: 90%;
      height: 90%; }
  .card .description {
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 1.1em;
    padding: 5%; }
    @media (min-width: 1024px) {
      .card .description {
        height: 20%;
        width: 100%; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .card .description {
        height: 35%;
        width: 100%; } }
    @media (min-width: 500px) and (max-width: 767px) {
      .card .description {
        height: 35%;
        width: 100%; } }
    @media (max-width: 499px) {
      .card .description {
        height: 25%;
        width: 100%; } }
    @media (min-width: 1024px) {
      .card .description p {
        font-size: 1.1vw; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .card .description p {
        font-size: 2vw; } }
    @media (min-width: 500px) and (max-width: 767px) {
      .card .description p {
        font-size: 2.5vw; } }
    @media (max-width: 499px) {
      .card .description p {
        font-size: 4vw; } }
  .card button {
    color: #E0F2F1;
    background: #004D40;
    border: 1px solid #004D40;
    padding: 5%;
    margin: 15% 5%; }
    @media (min-width: 500px) and (max-width: 767px) {
      .card button {
        width: 90%;
        margin: 0 5% 5%; } }
    @media (max-width: 499px) {
      .card button {
        width: 90%;
        margin: 0 5% 5%; } }

.clearfix {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.nav-links {
  font-family: "Inconsolata", monospace;
  font-size: 1.3em; }
  .nav-links a {
    text-decoration: none;
    color: #E0F2F1; }
  .nav-links .current {
    color: #004D40; }

footer .first_raw {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background: #545a66; }
  footer .first_raw .social {
    margin-top: 15px; }
    footer .first_raw .social .icons img {
      width: 50px;
      height: 50px;
      margin-right: 15px; }

footer .search_footer form input[type='text'] {
  height: 30px; }
  @media (min-width: 500px) and (max-width: 767px) {
    footer .search_footer form input[type='text'] {
      margin-top: 10px;
      width: 90%; } }
  @media (max-width: 499px) {
    footer .search_footer form input[type='text'] {
      margin-top: 10px;
      width: 100%; } }

footer .search_footer form input[type='submit'] {
  height: 30px;
  color: #E0F2F1;
  background: #004D40;
  border: 1px solid #004D40; }
  @media (min-width: 500px) and (max-width: 767px) {
    footer .search_footer form input[type='submit'] {
      width: 90%; } }
  @media (max-width: 499px) {
    footer .search_footer form input[type='submit'] {
      width: 100%; } }

.content-page {
  width: 70%;
  background: #fff;
  height: auto;
  float: left;
  align-items: center; }
  .content-page img {
    width: 100% !important; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .content-page {
      width: 100%; } }
  @media (min-width: 500px) and (max-width: 767px) {
    .content-page {
      width: 100%; } }
  @media (max-width: 499px) {
    .content-page {
      width: 100%; } }
  .content-page .h2-page {
    text-align: center; }
  .content-page .h2-page {
    font-family: "Raleway", sans-serif; }
  .content-page .img-page {
    width: 50%;
    height: 50%; }
    @media (min-width: 500px) and (max-width: 767px) {
      .content-page .img-page {
        width: 90%;
        height: 90%; } }
    @media (max-width: 499px) {
      .content-page .img-page {
        width: 90%;
        height: 90%; } }
  .content-page div.text-page {
    color: #545a66;
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 1.7em;
    line-height: 1.2;
    margin: 10%; }
    @media (min-width: 500px) and (max-width: 767px) {
      .content-page div.text-page {
        font-size: 1.2em;
        line-height: 1.3;
        margin: 3%; } }
    @media (max-width: 499px) {
      .content-page div.text-page {
        font-size: 1.2em;
        line-height: 1.3;
        margin: 3%; } }

.breadcrumbs-page {
  font-family: "Inconsolata", monospace;
  font-size: 1.1vw;
  margin: 20px 0;
  text-align: center; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .breadcrumbs-page {
      font-size: 2.2vw; } }
  @media (min-width: 500px) and (max-width: 767px) {
    .breadcrumbs-page {
      font-size: 2.2vw; } }
  @media (max-width: 499px) {
    .breadcrumbs-page {
      font-size: 3vw; } }
  .breadcrumbs-page a {
    color: #545a66;
    text-decoration: none; }

div.next_page {
  width: 200px;
  height: 50px;
  text-align: center;
  float: right;
  margin-right: 24px; }
  @media (max-width: 499px) {
    div.next_page {
      width: 100px; } }
  div.next_page a {
    font-family: "Raleway", sans-serif;
    font-size: 1.4em;
    text-decoration: none;
    color: #545a66; }

div.prev_page {
  width: 200px;
  height: 50px;
  text-align: center;
  float: left;
  margin-left: 25px; }
  @media (max-width: 499px) {
    div.prev_page {
      width: 100px; } }
  div.prev_page a {
    font-family: "Raleway", sans-serif;
    font-size: 1.4em;
    text-decoration: none;
    color: #545a66; }

.alignnone {
  display: block;
  width: 80%;
  height: 80%;
  margin: auto; }

.comments {
  width: 50%;
  margin: auto; }
  @media (min-width: 500px) and (max-width: 767px) {
    .comments {
      width: 80%; } }
  @media (max-width: 499px) {
    .comments {
      width: 100%; } }

.comments-caption {
  font-family: "Inconsolata", monospace;
  border-top: 1px solid #009688; }

.commentlist {
  list-style-type: none; }

.comment p {
  font-family: "Ubuntu Condensed", sans-serif;
  padding: 10px;
  background: white !important; }

.comment .fn {
  color: #004D40; }

.comment .reply a {
  font-family: "Inconsolata", monospace;
  text-decoration: none;
  color: #004D40; }

.comment .comment-meta {
  font-family: "Inconsolata", monospace; }

#respond {
  border-top: 1px solid #009688; }
  #respond .comment-reply-title {
    font-family: "Raleway", sans-serif; }
    #respond .comment-reply-title a {
      font-family: "Inconsolata", monospace;
      text-decoration: none;
      color: #004D40; }
    #respond .comment-reply-title small a {
      color: red; }
  #respond .comment-notes {
    display: none; }
  #respond .comment-form-author input {
    display: block; }
    @media (min-width: 500px) and (max-width: 767px) {
      #respond .comment-form-author input {
        text-align: center;
        width: 100%;
        margin: auto; } }
    @media (max-width: 499px) {
      #respond .comment-form-author input {
        text-align: center;
        width: 100%;
        margin: auto; } }
  #respond .comment-form-email input {
    display: block; }
    @media (min-width: 500px) and (max-width: 767px) {
      #respond .comment-form-email input {
        text-align: center;
        width: 100%;
        margin: auto; } }
    @media (max-width: 499px) {
      #respond .comment-form-email input {
        text-align: center;
        width: 100%;
        margin: auto; } }
  #respond .comment-form-comment label {
    font-family: "Inconsolata", monospace; }
  #respond .comment-form-comment textarea {
    width: 100%;
    font-family: "Ubuntu Condensed", sans-serif; }
  #respond .form-submit input[type="submit"] {
    color: #E0F2F1;
    background: #004D40;
    border: 1px solid #004D40;
    padding: 5px; }
    @media (min-width: 500px) and (max-width: 767px) {
      #respond .form-submit input[type="submit"] {
        width: 90%;
        margin: 0 5% 5%; } }
    @media (max-width: 499px) {
      #respond .form-submit input[type="submit"] {
        width: 90%;
        margin: 0 5% 5%; } }

.tags ul {
  display: flex;
  list-style-type: none; }
  .tags ul li {
    margin-right: 10px; }
    .tags ul li a {
      color: #004D40; }

.crayon-theme-sublime-text {
  z-index: 0; }

* {
  box-sizing: border-box; }

body {
  background: #E0F2F1; }
