@import url('https://fonts.googleapis.com/css?family=Inconsolata|Raleway|Ubuntu+Condensed');
$mainColor:#009688;
$darkMain:#004D40;
$lightMain:#E0F2F1;
$mediumMain:#26A69A;
$Fontmain:'Raleway', sans-serif;
$Fontsecond:'Inconsolata', monospace;
$FontText:'Ubuntu Condensed', sans-serif;